torch==2.8.0
torchvision==0.23.0
numpy==2.2.6
networkx==3.4.2
tqdm==4.67.1
onnx==1.19.0
onnxruntime==1.22.1
ordered-set==4.1.0
typing_extensions==4.15.0
graphviz==0.21
h5py==3.14.0
torchvision==0.23.0
